<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="shortcut icon" href="/libs/administrater/assets/favicon.png" type="image/png">
		<style>
			{{FORMCSS}}
		</style>
	</head>
	<body>
		<main>
			<form method='POST'>{{FORMHTML}}</form>
		</main>
		<script>
			{{FORMJS}}
		</script>
	</body>
</html>